<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增车位')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-qwbCarRent-add">
			<div class="form-group">	
				<label class="col-sm-2 control-label">车位号：</label>
				<div class="col-sm-4">
					<input id="carId" name="carId" class="form-control" type="text">
				</div>

				<label class="col-sm-2 control-label">位置：</label>
				<div class="col-sm-4">
					<input id="space" name="space" class="form-control" type="text">
				</div>

			</div>

			<div class="form-group">	
				<label class="col-sm-2 control-label">车位长度：</label>
				<div class="col-sm-4">
					<input id="length" name="length" class="form-control" type="text">
				</div>

				<label class="col-sm-2 control-label">车位宽度：</label>
				<div class="col-sm-4">
					<input id="width" name="width" class="form-control" type="text">
				</div>

			</div>

			<div class="form-group">	
				<label class="col-sm-2 control-label">面积：</label>
				<div class="col-sm-4">
					<input id="area" name="area" class="form-control" type="text">
				</div>

				<label class="col-sm-2 control-label">车位租用的最大年限(年)：</label>
				<div class="col-sm-4">
					<input id="ageLimit" name="ageLimit" class="form-control" type="text">
				</div>

			</div>

			<div class="form-group">	
				<label class="col-sm-2 control-label">租金（年）：</label>
				<div class="col-sm-4">
					<input id="rentMoney" name="rentMoney" class="form-control" type="text">
				</div>


				<label class="col-sm-2 control-label">发布人姓名：</label>
				<div class="col-sm-4">
					<input id="pName" name="pName" class="form-control" type="text">
				</div>
			</div>
			<!--<div class="form-group">
				<label class="col-sm-3 control-label">发布人的id：</label>
				<div class="col-sm-8">
					<input id="publishId" name="publishId" class="form-control" type="text">
				</div>
			</div>-->

			<div class="form-group">	
				<label class="col-sm-2 control-label">发布人的电话号码：</label>
				<div class="col-sm-4">
					<input id="pNumber" name="pNumber" class="form-control" type="text">
				</div>


				<!--<label class="col-sm-2 control-label">发布时间：</label>
				<div class="col-sm-4">
					<input id="pTime" name="pTime" class="form-control" type="text">
				</div>-->
			</div>

<!--发布车位的状态默认为未申请-->
			<input type="text" hidden="hidden" name="state" value="0"/>
			<!--<div class="form-group">
				<label class="col-sm-3 control-label">状态：（包括：未租用；已租用；未到期；已到期；续租？）：</label>
				<div class="col-sm-8">
					<input id="state" name="state" class="form-control" type="text">
				</div>
			</div>-->
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/qwbCarRent"
		$("#form-qwbCarRent-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-qwbCarRent-add').serialize());
	        }
	    }
	</script>
</body>
</html>
