<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qwb.community.project.system.qwbComplaint.mapper.QwbComplaintMapper">
    
    <resultMap type="QwbComplaint" id="QwbComplaintResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="creationTime"    column="creation_time"    />
        <result property="content"    column="content"    />
        <result property="completeTime"    column="complete_time"    />
        <result property="remarks"    column="remarks"    />
        <result property="state"    column="state"    />
        <result property="room"    column="room"    />
    </resultMap>
	
	<sql id="selectQwbComplaintVo">
        select id, name, creation_time, content, complete_time, remarks, state , room from qwb_complaint
    </sql>
	
    <select id="selectQwbComplaintList" parameterType="QwbComplaint" resultMap="QwbComplaintResult">
        <include refid="selectQwbComplaintVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <!--<if test="creationTime != null  and creationTime != '' "> and creation_time = #{creationTime}</if>-->
             <if test="content != null  and content != '' "> and content = #{content}</if>
             <if test="completeTime != null   "> and complete_time = #{completeTime}</if>
             <if test="remarks != null  and remarks != '' "> and remarks = #{remarks}</if>
             <if test="state != null "> and state = #{state}</if>
            <if test="room != null  and room != '' "> and room = #{room}</if>

<!--================================================================-->
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(creation_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(creation_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>


         </where>
    </select>
    
    <select id="selectQwbComplaintById" parameterType="Integer" resultMap="QwbComplaintResult">
        <include refid="selectQwbComplaintVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertQwbComplaint" parameterType="QwbComplaint" useGeneratedKeys="true" keyProperty="id">
        insert into qwb_complaint
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null  and name != ''  ">name,</if>
			<if test="creationTime != null   ">creation_time,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="completeTime != null    ">complete_time,</if>
			<if test="remarks != null  and remarks != ''  ">remarks,</if>
			<if test="state != null  ">state,</if>
            <if test="room != null and room != '' ">room,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="creationTime != null  ">#{creationTime},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="completeTime != null  ">#{completeTime},</if>
			<if test="remarks != null  and remarks != ''  ">#{remarks},</if>
			<if test="state != null  ">#{state},</if>
            <if test="room != null and room != '' ">#{room},</if>
         </trim>
    </insert>
	 
    <update id="updateQwbComplaint" parameterType="QwbComplaint">
        update qwb_complaint
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="creationTime != null    ">creation_time = #{creationTime},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="completeTime != null    ">complete_time = #{completeTime},</if>
            <if test="remarks != null  and remarks != ''  ">remarks = #{remarks},</if>
            <if test="state != null  ">state = #{state},</if>
            <if test="room != null  and room != '' ">room = #{room},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteQwbComplaintById" parameterType="Integer">
        delete from qwb_complaint where id = #{id}
    </delete>
	
    <delete id="deleteQwbComplaintByIds" parameterType="String">
        delete from qwb_complaint where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>